


@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@800&display=swap');


h1 {
  
  

}


p {
  font-family: heading_font;
}
body {
  text-align: center;
  position: absolute;
  color: black;
  padding-bottom: 10px;
  position: justify;
  


}
  
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
head {
	background-color: navy;
}
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap')   
@media only screen and (min-width: 420px) and (max-width: 78px) {
  .div {
    width:10%;
  }
  .div-item {
    width:10%;
    float:left;
  }
}


.red{
  color:red;
}
